---
name: Publish Docker image

on:
  push:
    branches:
      - develop
      - master
      - php74
      - php80
      - php81
      - php82
  schedule:
    - cron: '0 7 * * 1'
  workflow_dispatch: {}

env:
  DOCKER_IMAGE: 'lbausch/laravel-ci'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set branch name
        id: vars
        run: echo ::set-output name=branch_name::${GITHUB_REF#refs/*/}

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.DOCKER_IMAGE }}

      - name: Build and push Docker image (branch)
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{steps.vars.outputs.branch_name}}
          labels: ${{ steps.meta.outputs.labels }}
        if: ${{ steps.vars.outputs.branch_name != 'master' }}

      - name: Build and push Docker image (latest)
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:latest
          labels: ${{ steps.meta.outputs.labels }}
        if: ${{ steps.vars.outputs.branch_name == 'master' }}
